<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Existing theme CSS links -->
    {{ partial "layouts/partials/hooks/head-end/github-button.html"}}

    <!-- Link to your custom CSS -->
    <link rel="stylesheet" href="{{ "assets/css/custom.css" | relURL }}">
</head>
<body>
    {{ block "main" . }}
    {{ .Content }}
    {{ end }}
</body>
</html>
