<!-- layouts/_default/single.html -->

{{ define "main" }}
  <header>
    <!-- Display Name -->
    <div class="text-3xl font-bold mb-2 mt-6">
      {{ .Title | safeHTML }}
    </div>

    <!-- Role -->
    <h3 class="font-semibold mb-1 mt-4">
      {{ .Params.role | safeHTML }}
    </h3>

    <!-- Organizations -->
    {{ if .Params.organizations }}
      <div class="organization">
        {{ range .Params.organizations }}
          <a href="{{ .url }}" target="_blank">
            {{ .name | safeHTML }}
          </a>
        {{ end }}
      </div>
    {{ end }}
  </header>

  <main>
    {{ .Content }}
  </main>
{{ end }}
